<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
</head>

<body>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <button id="sidebarClose" class="sidebar-close"></button>
        <h2>To-Do</h2>
        <ul>
            <li><button onclick="location.href='/tasks'">Add Task</button></li>
            <li><button onclick="location.href='/about'">About</button></li>
            <li><button onclick="location.href='/login'">Login</button></li>
            <li><button onclick="location.href='/register'">Register</button></li>
        </ul>
    </div>

    <!-- Sidebar Toggle Button -->
    <div id="sidebarToggle" class="sidebar-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <div id="particles-js"></div>

    <div class="toggle-container">
        <i id="darkModeIcon" class="fas fa-sun"></i>
    </div>

    <div class="container">
        <h1 class="text-center">To-Do List</h1>

        <form action="/add" method="POST" class="todo-form">
            <div class="form-group input-group">
                <input type="text" name="task" placeholder="Add To-Do" required class="form-input">
            </div>

            <div class="form-group select-group">
                <label class="priority-option">
                    <input type="radio" name="priority" value="Low" checked>
                    <i class="fas fa-smile"></i> Low
                </label>
                <label class="priority-option">
                    <input type="radio" name="priority" value="Medium">
                    <i class="fas fa-meh"></i> Medium
                </label>
                <label class="priority-option">
                    <input type="radio" name="priority" value="High">
                    <i class="fas fa-frown"></i> High
                </label>
            </div>

            <div class="form-group date-group">
                <input type="date" name="dueDate" class="form-date">
            </div>

            <div class="form-group button-group">
                <button type="submit" class="form-button add">Add</button>
            </div>
        </form>

        <ul class="list-group">
            <% todolist.forEach(todo => { %>
                <li class="list-group-item">
                    <span><%= todo.task %></span> - <span><%= todo.priority %></span> - <span class="date"><%= todo.dueDate %></span>
                    <% if (!todo.completed) { %>
                        <form action="/complete/<%= todo._id %>" method="POST" class="float-right">
                            <button type="submit" class="complete">Complete</button>
                        </form>
                    <% } %>

                    <form action="/delete/<%= todo._id %>" method="POST" class="float-right">
                        <button type="submit" class="delete">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.date').forEach(function (element) {
                const dateText = element.innerText;

                // Parse the date using Moment.js
                const parsedDate = moment(new Date(dateText));

                if (parsedDate.isValid()) {
                    element.innerText = parsedDate.format('MMM Do YY');
                } else {
                    console.warn('Date format is not recognized:', dateText);
                }
            });

            const icon = document.getElementById('darkModeIcon');

            // Check localStorage for dark mode preference
            const darkModeStatus = localStorage.getItem('darkMode');
            if (darkModeStatus === 'enabled') {
                document.body.classList.add('dark-mode');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            }

            icon.addEventListener('click', function () {
                if (document.body.classList.contains('dark-mode')) {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('darkMode', 'disabled');
                    icon.classList.remove('fa-moon');
                    icon.classList.add('fa-sun');
                } else {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('darkMode', 'enabled');
                    icon.classList.remove('fa-sun');
                    icon.classList.add('fa-moon');
                }
            });

            // If system preference is dark and no preference is stored, enable dark mode by default
            if (darkModeStatus === null && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.classList.add('dark-mode');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
                localStorage.setItem('darkMode', 'enabled');
            }
        });

        particlesJS('particles-js', {
            particles: {
                number: {
                    value: 80,
                    density: {
                        enable: true,
                        value_area: 800
                    }
                },
                color: {
                    value: "#ffffff"
                },
                shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#000000"
                    },
                    polygon: {
                        nb_sides: 5
                    }
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: {
                        enable: false,
                        speed: 1,
                        opacity_min: 0.1,
                        sync: false
                    }
                },
                size: {
                    value: 3,
                    random: true,
                    anim: {
                        enable: false,
                        speed: 40,
                        size_min: 0.1,
                        sync: false
                    }
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 6,
                    direction: "none",
                    random: false,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 1200
                    }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: {
                        enable: true,
                        mode: "repulse"
                    },
                    onclick: {
                        enable: true,
                        mode: "push"
                    },
                    resize: true
                },
                modes: {
                    grab: {
                        distance: 400,
                        line_linked: {
                            opacity: 1
                        }
                    },
                    bubble: {
                        distance: 400,
                        size: 40,
                        duration: 2,
                        opacity: 8,
                        speed: 3
                    },
                    repulse: {
                        distance: 200,
                        duration: 0.4
                    },
                    push: {
                        particles_nb: 4
                    },
                    remove: {
                        particles_nb: 2
                    }
                }
            },
            retina_detect: true
        });

        // JavaScript for sidebar toggle
        document.getElementById('sidebarToggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('sidebar-open');
        });

        document.getElementById('sidebarClose').addEventListener('click', function () {
            document.getElementById('sidebar').classList.remove('sidebar-open');
        });
    </script>

</body>

</html>